<!-- resources/templates/fragments/top-nav.html -->

<nav th:fragment="topNavFragment" class="top-nav">
    <div class="top-nav__inner">
    <!-- 왼쪽: 로고 영역 -->
    <div class="top-nav__left">
        <a href="/" class="top-nav__logo-text">SMALL</a>
    </div>

    <!-- 오른쪽: 메뉴 영역 -->
    <ul class="top-nav__menu">
        <li>
            <a th:href="@{#}">스몰왁싱</a>
            <ul class="top-nav__submenu">
                <li><a th:href="@{#}">스몰왁싱 특별함</a> </li>
                <li><a th:href="@{#}">오시는 길</a> </li>
                <li><a th:href="@{#}">둘러보기</a> </li>
            </ul>
        </li>
        <li>
            <a th:href="@{#}">서비스</a>
            <ul class="top-nav__submenu">
                <li><a th:href="@{#}">브라질리언왁싱</a></li>
                <li><a th:href="@{#}">바디왁싱</a></li>
                <li><a th:href="@{#}">페이스왁싱</a></li>
                <li><a th:href="@{#}">임산부왁싱</a></li>
            </ul>
        </li>
        <li><a th:href="@{#}">가격안내</a></li>
        <li>
            <a th:href="@{#}">커뮤니티</a>
            <ul class="top-nav__submenu">
                <li><a th:href="@{#}">이벤트</a> </li>
                <li><a th:href="@{#}">공지사항</a></li>
                <li><a th:href="@{#}">자주묻는질문</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{#}">온라인상담</a>
            <ul class="top-nav__submenu">
                <li><a th:href="@{#}">온라인상담</a> </li>
                <li><a th:href="@{#}">카톡상담</a></li>
            </ul>
        </li>
        <li><a th:href="@{#}">전후사진</a></li>
    </ul>
        <div class="top-nav__right">
            <!--        <a href="#" class="btn_gnb"></a>-->
            <button class="hamburger-menu" onclick="toggleMenu(this)" aria-label="Main Menu">
                <svg width="30" height="30" viewBox="0 0 100 100">
                    <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
                    <path class="line line2" d="M 20,50 H 80" />
                    <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
                </svg>
            </button>
        </div>
        <div class="overlay overlay-boxify">
            <nav class="overlay__menu">
                <ul class="overlay__menu-list">
                    <li><a href="#">스몰왁싱</a>
                        <ul class="overlay__submenu">
                            <li><a href="#">스몰왁싱 특별함</a> </li>
                            <li><a href="#">오시는 길</a> </li>
                            <li><a href="#">둘러보기</a> </li>
                        </ul>
                    </li>
                    <li><a href="#">서비스</a>
                        <ul class="overlay__submenu">
                            <li><a href="#">브라질리언왁싱</a> </li>
                            <li><a href="#">바디왁싱</a> </li>
                            <li><a href="#">페이스왁싱</a> </li>
                            <li><a href="#">임산부왁싱</a> </li>
                        </ul>
                    </li>
                    <li><a href="#">가격안내</a></li>
                    <li><a href="#">커뮤니티</a>
                        <ul class="overlay__submenu">
                            <li><a href="#">이벤트</a> </li>
                            <li><a href="#">공지사항</a> </li>
                            <li><a href="#">자주묻는질문</a> </li>
                        </ul>
                    </li>
                    <li><a href="#">온라인상담</a>
                        <ul class="overlay__submenu">
                            <li><a href="#">온라인상담</a> </li>
                            <li><a href="#">카톡상담</a> </li>
                        </ul>
                    </li>
                    <li><a href="#">전후사진</a></li>
                </ul>
            </nav>
        </div>
    </div>
</nav>
