
.image-container {
    position: relative;
    width: 100%;
    height: 810px; /* 원하는 높이 */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease;
}

.image-container img.active {
    opacity: 1;
    width: 100%;
    animation: shrink 5s forwards;
}

@keyframes shrink {
    0% {
        width: 120%;
        height: auto;
    }
    100% {
        width: 100%;
        height: auto;
    }
}

.nav-dots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;

}

.nav-dots .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;  /* 도트 간의 간격을 10px로 설정 */
    background-color: rgba(128, 128, 128, 0.75); /* 반투명 회색 */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.nav-dots .dot.active {
    background-color: white;  /* 활성화된 도트의 배경 색상을 흰색으로 설정 */
}

/* 호버 시 흰색 테두리 추가 */
.nav-dots .dot:hover {
    border: 2px solid white; /* 흰색 테두리 */
}

/* ------------------------------- */
.middle{

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
}

.middle .middle-header{
    margin : 120px 0px;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

}

.header-item {


    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    min-width: 280px;
    border-right: 1px solid silver;  /* 로그인과 회원가입 사이에 선 추가 */
}

/* 마지막 버튼에는 border-right 제거 */
.header-item:last-child {
    border-right: none; /* 마지막 항목에는 수직선 제거 */
}

.header-item h1, .header-item h4 {
    margin: 0;
    text-align: center; /* 중앙 정렬 */

}



.header-item i {
    color : black;
    font-size: 3em; /* 아이콘 크기 조정 */
    margin-bottom: 10px; /* 아이콘과 텍스트 사이 간격 */

}


.header-item:hover i {
    color:  #c75e5e;
}

.header-item a {
    display: inline-block;
    text-decoration: none;
    color : #585858;
    background-color: white;
    padding: 8px 15px;

    border: 1px solid silver; /* 각 항목 사이에 수직선 추가 */
}

.header-item:hover  a{
    color : white;
    background-color: #c75e5e;
    border: 1px solid #c75e5e; /* 각 항목 사이에 수직선 추가 */
}

/*---------------------------------------------------------*/

.middle-middle{
    padding: 30px 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("/img/main/woman.jpg"); /* 배경 이미지 설정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center center; /* 이미지 가운데 정렬 */
    background-size: cover; /* 배경 이미지가 섹션을 덮도록 설정 */
    background-attachment: fixed; /* 스크롤 시 배경 이미지 고정 */
    position: relative;

    justify-content: center;
    align-items: center;
}


.middle-middle h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(50px); /* 아래에서 위로 올라오는 효과 */
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}

/* 스크롤 시 보이는 상태 */
.middle-middle h1.show {
    opacity: 1;
    transform: translateY(0);
}

.middle-img {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 수직 정렬 */
    gap: 24px;

    margin-bottom: 24px;
}

/* .image-item 클래스: 각 이미지 스타일 */
/* 초기 상태: 투명하고 아래에 위치 */
.image-item {
    position: relative;
    overflow: hidden;
    width: 630px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px); /* 아래에서 올라오도록 */
    transition: opacity 0.7s ease-out, transform 1s ease-out;
}

/* 스크롤 시 보이는 상태 */
.image-item.show {
    opacity: 1;
    transform: translateY(0);
}

/* 이미지 스타일 */
.image-item img {
    width: 100%; /* 이미지가 컨테이너의 너비를 가득 채우도록 설정 */
    height: 100%; /* 이미지가 컨테이너의 높이를 가득 채우도록 설정 */
    object-fit: cover; /* 이미지 비율을 유지하며 영역을 채우도록 설정 */
    transition: transform 0.5s ease; /* 호버 시 확대 효과에 부드러운 전환 추가 */
}

/* 호버 시 이미지 확대 */
.image-item:hover img {
    transform: scale(1.2); /* 이미지를 1.2배 확대 */

}

/* 호버 시 배경의 높이와 위치 변경 */
.image-item:hover .overlay-background {
    height: 100%; /* 배경의 높이를 100px로 확대 */
    width: 190px;
}

/* 기본 상태에서 아래쪽 선 숨기기 */
.overlay-text::after {
    content: ''; /* 가상 요소의 내용을 비움 */
    position: absolute; /* 부모 요소에 대해 절대 위치 */
    bottom: 0; /* 부모 요소의 아래쪽에 위치 */
    left: 9%; /* 부모 요소의 왼쪽 기준 중앙으로 설정 */
    width: 0; /* 기본 상태에서는 선을 숨김 */
    height: 1px; /* 선의 두께를 1px로 설정 */
    background-color: white; /* 선의 색상을 흰색으로 설정 */
}

/* 호버 시 텍스트 오버레이 아래쪽 선 표시 */
.image-item:hover .overlay-text::after {
    width: 80%; /* 호버 시 선의 길이를 부모 요소 너비의 100%로 설정 */
}

/* 배경 색상 */
.overlay-background {
    position: absolute;
    top: 0; /* 이미지의 최상단에 배치 */
    left: 22px; /* 이미지의 좌측에 배치 */
    width: 85px; /* 이미지의 너비에 맞게 확장 */
    height: 85px; /* 이미지의 높이에 맞게 확장 */
    background-color: #c75e5e; /* 원하는 배경색 */
    opacity: 0.9; /* 배경의 투명도 */
    transition: transform 0.5s ease; /* 호버 시 확대 효과에 부드러운 전환 추가 */
    align-items: center;
}

/* 텍스트 오버레이 */
.overlay-text {
    left: 10%; /* 이미지 왼쪽에서 약간 떨어져서 배치 */
    transform: translate(0, 0); /* 중앙 정렬 대신 좌측 상단에 배치 */
    color: white; /* 텍스트 색상 */
    font-size: 25px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 두껍게 */
    padding: 10px 20px; /* 텍스트 주변에 여백 추가 */
}

/* 텍스트 오버레이 - h */
.overlay-text-h {
    padding: 10px 20px; /* 텍스트 주변에 여백 추가 */
    opacity: 0; /* 기본 상태에서 숨김 */

    font-weight: bold;
    color:white;
}

/* 텍스트 오버레이 - a */
.overlay-text-a {
    padding: 0px 20px; /* 텍스트 주변에 여백 추가 */
    opacity: 0; /* 기본 상태에서 숨김 */
    margin-bottom: 50px;

    color:white;
}

/* 호버 시 텍스트 오버레이 보이기 */
.image-item:hover .overlay-text-h,
.image-item:hover .overlay-text-a {
    opacity: 1; /* 호버 시 보이도록 설정 */
}


.overlay-background a{
    margin: 0 20px;
    padding: 10px 15px; /* 텍스트 주변에 여백 추가 */
    text-decoration: none;
    color : white;
    border: 1px solid white; /* 각 항목 사이에 수직선 추가 */
}

.overlay-background a:hover{
    color: #c75e5e;
    background-color: white;
}

/*---------------------------------------------------------*/
.mb{
    position: relative;


    justify-content: center;
    align-items: center;

    padding: 30px 0;
    width: 100%;


}


.mb h1{
    text-align: center; /* 중앙 정렬 */
    font-size: 50px;
    margin-bottom: 50px;
}

.mbimg-container {
    display: flex;
    width: 100%;
    height: 800px;
}

.overlayimg-item {
    flex: 1;
    position: relative;
    transition: width 0.5s ease, flex 0.5s ease;
    overflow: hidden;
    cursor: pointer;
}

/*About People*/
/*Active 아닐 때 타이틀 보이게*/
/*---------------------------------------------------------*/
.overlayimg-item .title-overlay{
    position: absolute; /* 위치를 절대값으로 설정 */
    top: 5%; /* 원하는 위치로 설정 */
    left: 10%; /* 원하는 위치로 설정 */
    color: black;
    font-size: 35px;
    opacity: 0.8; /* 기본적으로 보이게 설정 */
    transition: opacity 0.2s ease;
    writing-mode: vertical-rl; /* 글자를 수직으로 배치 */
    letter-spacing: 5px; /* 글자 간격 조정 */
}

.overlayimg-item:not(.active) .title-overlay {
    opacity: 0.8; /* 활성화되지 않았을 때 보이게 설정 */
}

.overlayimg-item.active .title-overlay {
    opacity: 0; /* 활성화되었을 때 안 보이게 설정 */
}
/*---------------------------------------------------------*/

.overlayimg-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}



/*-- active 상태가 아닐 때는 어두움 --*/
.overlayimg-item:not(.active) img {
    filter: grayscale(80%);
}

/* 얇고 촘촘한 다이아몬드 패턴 추가 */
.overlayimg-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.1) 0,
            rgba(0, 0, 0, 0.1) 2.5px,
            transparent 2.5px,
            transparent 5px
    ), repeating-linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0.1) 0,
            rgba(0, 0, 0, 0.1) 2.5px,
            transparent 2.5px,
            transparent 5px
    );
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    z-index: 1; /* 패턴이 이미지 위에 오도록 설정 */
}
.overlayimg-item:not(.active)::before {
    opacity: 0.5; /* 패턴 오버레이의 불투명도 조절 */
}
/*---------------------------------------------------*/

.overlayimg-item .background-overlay1{
    position: absolute;
    top: 4%;
    left: 68%;

    width: 300px; /* 이미지의 너비에 맞게 확장 */
    height: 255px; /* 이미지의 높이에 맞게 확장 */
    background-color: #c75e5e; /* 원하는 배경색 */
    opacity: 0; /* 배경의 투명도 */
    transition: transform 0.5s ease, filter 0.5s ease;; /* 호버 시 확대 효과에 부드러운 전환 추가 */
    align-items: center;
}

.overlayimg-item.active .background-overlay1 {
    opacity: 0.95;
}

.overlayimg-item .background-overlay2{
    position: absolute;
    top: 58%;
    left: 4%;

    width: 300px; /* 이미지의 너비에 맞게 확장 */
    height: 255px; /* 이미지의 높이에 맞게 확장 */
    background-color: #333333; /* 원하는 배경색 */
    opacity: 0; /* 배경의 투명도 */
    transition: transform 0.5s ease; /* 호버 시 확대 효과에 부드러운 전환 추가 */
    align-items: center;
}

.overlayimg-item.active .background-overlay2 {
    opacity: 0.95;
}

.overlayimg-item .background-overlay3{
    position: absolute;
    top: 4%;
    left: 4%;

    width: 300px; /* 이미지의 너비에 맞게 확장 */
    height: 255px; /* 이미지의 높이에 맞게 확장 */
    background-color: #adadad; /* 원하는 배경색 */
    opacity: 0; /* 배경의 투명도 */
    transition: transform 0.5s ease; /* 호버 시 확대 효과에 부드러운 전환 추가 */
    align-items: center;
}

.overlayimg-item.active .background-overlay3 {
    opacity: 0.95;
}

/*text-overlay*/
/*---------------------------------------------------------*/
.overlayimg-item .text-overlay {
    color: white;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    align-items: center;
    text-align: center;
    padding: 50px 20px;

}

.text-overlay h5{
    padding: 10px 0;
    font-size: 18px;
}

.text-overlay h6{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 20px;
}

.text-overlay a{
    color: white;
    font-weight: inherit;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px; /* 텍스트 주변에 여백 추가 */
    border: 1px solid white; /* 각 항목 사이에 수직선 추가 */
    pointer-events: auto; /* 링크는 클릭 가능하도록 설정 */
}

.text-overlay a:hover{
    color: #333333;
    background-color: white;
}

.overlayimg-item.active .text-overlay {
    opacity: 1;
}

.overlayimg-item.active {
    flex: 5;
    cursor: default;
}
/*---------------------------------------------------------*/


.overlayimg-item.active img {
    transform: scale(1.1);
}

.mbimg-container .overlayimg-item:not(.active) {
    flex: 0.7;
}


.text-overlay a:hover{
    color: black;
}


/*-- main-bottom --*/
/*----------------------------------------------*/